@import "./../ThemeColor.css";
.AvatarChild {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
}
.avatar img {
    width: 55px;
}
.AvatarName {
    color: var(--Text-color);
}
.avatar {
    box-shadow: 0em 0em 5em 0.7em rgb(0 0 255);
    margin-top: 0em;
    border-radius: 100%;
    margin-right: 0.5em;
    margin-bottom: 0em;
    margin-left: 0em;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0,0,255,0.61);
    border-right-color: rgba(0,0,255,0.61);
    border-bottom-color: rgba(0,0,255,0.61);
    border-left-color: rgba(0,0,255,0.61);
}
.avatar img {
    width: 55px;
    border-radius: 100%;
}