.avatarImg img{
    border-radius: 100px;
    width: 60px;
    object-fit: cover;
}
.MainAvatar{
    align-items: center;
}
.avatarImg {
    text-align: end;
}
.avatarName {
    text-align: end;
}



