@import "./../ThemeColor.css";
.AvatarChild {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
}
.avatar img {
    width: 55px;
    border-radius: 100%;
    box-shadow: 0em 0em 5em 0em rgb(255 0 179);
}
.AvatarName {
    color: var(--Text-color);
}