@import "./../ThemeColor.css";

/* text editor*/
.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 282px;
}
.rs-picker-daterange-panel {
    background-color: var(--App-color);
    box-shadow: 0 0 20px 8px rgb(0 0 0 / 16%);
}
/* picked date align */
.rs-picker-default .rs-picker-toggle {
    position: relative;
    z-index: 5;
    display: inline-block;
    outline: none;
    text-align: center;
    cursor: pointer;
    width: 100% !important;
    color: white;
    border: 0px solid #e5e5ea;
    background-color: transparent !important;
    padding-left: 44px;
}
button.rs-btn.rs-btn-link.rs-btn-sm {
    color: white;
}
/* calander align */
.rs-picker-toggle-caret {
    display: inline-block;
    top: 8px;
    font-weight: normal;
    color: white;
}
.rs-picker-daterange-header {
    display: none;
}
/* ok button style */
.rs-picker-toolbar-right-btn-ok { 
    text-align: center; 
    cursor: pointer;
    outline: 0 ; 
    border: none; 
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 30px;
    color: #fff;
    background-color: #ec00f5;
    width: 100px;
}

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
    padding-left: 0;
    padding-right: 0;
    border-radius: 21px;
    display: inline-block;
}
span.rs-picker-toggle-clean.rs-btn-close{
    display: none ;
}
.rs-picker-menu {
    position: fixed;
    width: 25%;
    border-radius: 0px !important;
    box-shadow: none;
}
.rs-picker-toolbar-right {
    float: right;
    width: 100%;
}
.monthpickerTime {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 17px;
}
button.rs-btn.rs-btn-primary.rs-btn-sm {
    width: 100% !important;
    background-color: var(--button-color);
    padding: 1.15em;
    border-radius: 0;
    font-size: 18px;
}
.MonthCalendar.MonthCalendar.rs-picker.rs-picker-daterange.rs-picker-default.rs-picker-toggle-wrapper.rs-picker-has-value.rs-picker-block {
    opacity: 0;
}
.rs-picker-daterange-calendar-group {
    width: 100%;
    min-width: 100% !important;
}
.rs-calendar {
    width: 50%;
    min-width: 50% !important;
}
.rs-picker-toolbar {
    padding: 11px 0px 0px 0px !important;
}
.rs-picker-toolbar-ranges {
    padding-bottom: 0.5em;
}
span.rs-picker-toggle-value {
    color: white !important;
}
svg.rs-picker-toggle-caret.rs-icon {
    display: none;
}
.rs-picker-toggle-active, .rs-picker.rs-picker-focused {
    box-shadow: none;
}
.MonthCalendar {
    pointer-events: none;
}
button.rs-calendar-header-backward.rs-btn-icon, button.rs-calendar-header-forward {
    background-color: var(--button-color);
    border-radius: 100%;
}
button.rs-btn.rs-btn-primary.rs-btn-sm:hover {
    background-color: #ec00f5;
    box-shadow: 0em 0.15em 1.3570000000000002em 0em #ec00f5;
    transition-duration: 300ms;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    background-color: #6e6e6e;
    color: black;
    transform: scale(1.2);
}
.rs-picker-menu .rs-calendar .rs-calendar-month-dropdown-cell-content, .rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
    border-radius: 5px !important;
}
.rs-calendar-table-cell-in-range:before {
    background-color: var(--button-color);
}
.rs-calendar-table-cell-content:hover {
    transform: scale(1.2);
    color: black !important;
}
.rs-picker-toolbar {
    border-top: 0;
}
.rs-btn-subtle {
    color: white;
}
.rs-picker-menu .rs-calendar .rs-calendar-table-cell:hover .rs-calendar-table-cell-content {
    background-color: #ec00f5;
    color: #ffffff;
}
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    -webkit-box-shadow: none;
}
.rs-picker-daterange-menu .rs-calendar:first-child {
    border-right: 0px;
}
.rs-picker-toolbar-ranges {
    width: 100%;
    text-align: center;
    padding-bottom: 2.2em;
}
