@import "./../ThemeColor.css";

.customNavbar {
    background-color: var(--App-color);
    height: 92px;
    color: white;
    position: fixed !important;

    width: 100%;
    box-shadow: 0 0 20px 8px rgb(0 0 0 / 16%);
    z-index: 1;
}
.navbrand{
    color: white;
}
.calendarNavbar{
    text-align: end;
}

.LogoutButton  > svg{
    background-color: red;
    padding: 0.4em;
    border-radius: 100px;
    width: 35px;
    height: 35px;
}
.LogoutButton {
    background-color: transparent;
}
.rs-anim-fade.rs-anim-in.rs-picker-daterange-menu.rs-picker-menu.placement-bottom-start {
    right: 20;
}
