@import "./../../ThemeColor.css";

.EdadBtnDashboard {
    color: var(--Text-color);
    background-color: var(--BlackAndGray);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em 0em 2em 0em;
}
.maxEdad {
    color: var(--Text-color);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.4;
    font-family: "Work Sans",sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    margin-top: 14px;
}
