@import "./../../ThemeColor.css";

.CountrysMax {
    background-color: var(--BlackAndGray);
    border-radius: 10px;
    padding: 1.5em;
    text-align: center;
    width: 100%;
    color: var(--Text-color);
}