
@import "./ThemeColor.css";

body {
  background-color: var(--App-color);
  overflow-x: hidden;
  color: var(--Text-color);
}


main {
  padding: 20px 10px;
}
.Ancl {
  margin-bottom: 4em;
  margin-top: 1em;
}
a.SectionsAncles {
  box-shadow: 0 0 20px 8px rgb(0 0 0 / 16%);
  padding: 1.5em;
  color: var(--Text-color);
  margin: 5px;
  background-color: var(--App-color);
  border-radius: 10px;
}
a {
  text-decoration: none;
}
a:active, a:focus, a:hover {
  text-decoration: none;
}
.PageTitle {
  text-align: center;
}
@media only screen and (max-width: 800px){
  .Ancl {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
}

















